header {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    width: 100% ;
    height: 80px ;
    color: rgb(255, 255, 255) ;
    text-shadow: 0px 0px 8px rgb(0, 0, 0) ;
    font-size: 35px ;
    font-weight: bold ;
    margin-left: 75px ;
}

body{
    background-image: url("bg.png") ;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bolder ;
    font-style: italic ;
    color: rgb(0, 12, 68) ;
    text-shadow: 0px 0px 3px rgb(255, 255, 255) ;
    font-size: 25px ;
    margin-bottom: -20px ;
    margin-left: 20px ;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: bolder ;
    font-style: italic;
    color: rgb(0, 12, 68) ;
    text-shadow: 0px 0px 3px rgb(255, 255, 255) ;
    font-size: 25px ;
    margin-top: 0px ;
    margin-left: 20px ;
}

hr {
    border: none;
    height: 3px;
    background-image: linear-gradient(to right,
    rgb(0, 12, 68), rgba(0, 0, 0, 0)) ;
    filter: drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.644));
    margin-top: 25px ;
    width: 700px;
    margin-left: -10;
}

.karte{
    width:116px;
    height:178px;
    box-shadow: 2px 2px 5px rgb(41, 41, 41) ;
    border-radius: 10px ;
    border-color: rgb(0, 12, 68) ;
    border-style: solid ;
}

.kartenwert{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(255, 255, 255) ;
    text-shadow: 5px 5px rgb(0, 0, 0) ;
    font-size: 100px ;
    display: inline;
    padding-inline-start: 30px ;
    padding-bottom: 50px;
}

.Rot{
    background-color: rgb(199, 42, 24) ;
}
.Gelb{
    background-color: rgb(230, 202, 30) ;
}
.Blau{
    background-color: rgb(0, 99, 179) ;
}
.Grün{
    background-color: rgb(0, 128, 0) ;
}

.Rot:hover {
    box-shadow: 0px 0px 15px rgb(199, 42, 24);
}

.Gelb:hover {
    box-shadow: 0px 0px 15px rgb(230, 202, 30);
}

.Blau:hover {
    box-shadow: 0px 0px 15px rgb(0, 99, 179);
}

.Grün:hover {
    box-shadow: 0px 0px 15px rgb(0, 128, 0);
}

.karte.umgedreht{
    background-image: url("kartenrueckseite.jpg");
}

#Ablagestapel{
    float: left ;
    height: 150px ;
    width: 75px ;
    margin-left: 35px ;
}

#Zugstapel{
    float: left ;
    height: 150px ;
    width: 75px ;
    margin-left: 100px ;
}

#Ablagestapel .karte{
    display: inline-block ;
    margin-top: 40px ;
    margin-left: 80px ;
    transition: 0.3s;
}

#Zugstapel .karte{
    display: inline-block ;
    margin-top: 40px ;
    margin-left: 60px ;
    cursor: pointer ;
    transition: 0.3s;
}

#DeckComputer{
    height: 200px ;
    width: 100% ;
    clear: both ;
    border-style: none ;
}

#DeckSpieler{
    height: 200px ;
    width: 100% ;
    clear: both ;
    padding-top: 70px ;
    padding-bottom: 25px;
    border-style: none ;
}

#DeckComputer .karte{
    display: inline-block ;
    margin-top: 30px ;
    margin-left: 30px ;
    margin-right: 10px ;
    cursor: not-allowed ;
    transition: 0.3s;
}

#DeckSpieler .karte{
    display: inline-block ;
    margin-top: 30px ;
    margin-left: 30px ;
    margin-right: 10px ;
    cursor: pointer ;
    transition: 0.3s;
}

#Zugstapel .karte:hover {
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

#Ablagestapel .karte:hover{
    box-shadow: 2px 2px 5px rgb(41, 41, 41) ;
}