header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-left: 75px;
}

body{
    background-image: url("bg.png");
}

.karte{
    width:116px;
    height:178px;
    border-radius: 10px;
    border-color: rgb(24, 0, 68);
    border-style: solid;
}

.karte.umgedreht{
    background-image: url("kartenrueckseite.jpg");
}

.Kartenwert{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px rgb(0, 0, 0) ;
    font-size: 100px;
    display: inline;
    padding-left: 28px;
}

.Rot{
    background-color: rgb(199, 42, 24);
}
.Gelb{
    background-color: rgb(230, 202, 30);
}
.Blau{
    background-color: rgb(0, 99, 179);
}
.Grün{
    background-color: rgb(0, 128, 0);
}

#Zugstapel{
    float: left;
    height: 150px;
    width: 75px;
    margin-left: 50px;
}

#Ablagestapel{
    float: left;
    height: 150px;
    width: 75px;
    margin-left: 220px;
}

#Zugstapel .karte{
    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;
}

#Ablagestapel .karte{
    display: inline-block;
    margin-top: 40px;
    margin-left: 80px;
}

#DeckComputer{
    height: 200px;
    width: 100%;
    clear: both;
}

#DeckSpieler{
    height: 200px;
    width: 100%;
    clear: both;
    padding-top: 70px;
}

#DeckComputer .karte{
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 30px;
}

#DeckSpieler .karte{
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 30px;
}
