body {
    background-image: url("bg.png");
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: auto;
}

.header {
    background: #e6e6ff;
    height: 400px;
    width: 700px;
    -webkit-border-radius: 0px 0px 400px 400px;
    -moz-border-radius: 0px 0px 400px 400px;
    border-radius: 0px 0px 400px 400px;
    position: center;
    margin: auto;  
    margin-top: -20px;
   
 
}

.title {
  color: rgb(0, 0, 25);
  font-size: 155px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  margin-top: -350px;
  margin-left: 100px;
  margin-bottom: 200px;
  letter-spacing: -15px;
}
  
.subtitle {
  color: rgb(0, 0, 25);
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font: bold;
  margin: auto;
  margin-top: -220px;
  margin-left: 430px;
  margin-bottom: 200px;
}


.icon {
  width: 100px;
  height: 100px;
  margin-top: -195px;
  margin-left: 430px;
  margin-bottom: 100px;
}

.icon img:hover {
opacity: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #e6e6ff;
  position: fixed;
  top: 0;
  width: 5%;
  float: left;
  margin-left: 800px;
 
  text-align: center;
}

li a {
  text-decoration: none;
  display:inline-block;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  
}

.active {
  background-color:#3b3550;
  color: aliceblue;
}

h2 {
color: #e6e6ff;    
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 3px;
}

h3 {
    color: #e6e6ff;    
    font-size: 15px;
    font-family:fantasy;
    }

input {
  width: 40%;
  height: 20px;
  background-color: rgb(3, 0, 43);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 2px;
}

#message {
  width: 60%;
  height: 60px;
}

.Datenschutz {
  color: rgb(165, 165, 165);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button {
  width: 15%;
  height: 25px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 3, 34);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-radius: 4px;

}